<!DOCTYPE html>
<html>

  <head>
    {% include "htmls/head.html" %}
  </head>

  <body>
    {% include "htmls/header.html" %}
    <table style="width:100%">
        <tr>
          <th>About Us:</th>
        </tr>
        <tr class="about_us_info">
          <td>
              Ever have disorganized shopping lists?
          </td>
        </tr>
        <tr>
          <td>
            Ever forget all the items you needed once you got to the store?
          </td>
        </tr>
        <tr>
          <td>
            Ever forget when something expires?
          </td>
        </tr>
        <tr>
          <td>
            This webapp will help you with all of the above!
          </td>
        </tr>
        </table>


  </body>

</html>
