<html>

<head>
  {% include "htmls/head.html" %}
</head>

<body>
{% include "htmls/header.html" %}

  <h2 class=h2>Your Account</h2>


  <div>
    <center>
      <h4>
        <form action="/inventory-input">
          <button class="button" type="submit">Add to Your Inventory</button>
        </form>

        <form action="/cur_products">
          <button class="button" type="submit">Your Current Products</button>
        </form>
        <form action="/lists">
          <button class="button" type="submit">Your Shopping Lists</button>
        </form>
        <form >
          <button id="logout_button"><a href="{{logout_link}}">Logout</a></button>
        </form>

      </h3>

      </h4>

      </h4>

      <footer>
        <p>LISTener</p>
      </footer>







</html>
