<!DOCTYPE html>
<html>
  <head>
    {% include "htmls/head.html" %}
  </head>
  <body>

  {% include "htmls/header.html" %}

    <h1>Add to your inventory:</h1>
    <div class="class1">
      <form method="POST" action="/inventory-input">
        Item Name:<br>
        <input class="input" type="text" name="item_name" >
        <br>
        Your Usual Use Time:<br>
        <input class"input" type="text" name="use_time" >
        <br>
        Expiration Date:<br>
        <input class"input" type="date" name="expiration_date" >
        </div>
        <div class="class2">
        <br><br>
        <input class="button" type="submit" value="Add Item">
      </form>
    <form action="/account">
        <input class="button" type="submit" value="Back">
    </form>
    </div>
    </div>
    <footer>
      <p>LISTener</p>
    </footer>
  </body>
</html>
