<html>
<head>
  {% include "htmls/head.html" %}
</head>
<body>

  {% include "htmls/header.html" %}

<div class="content">


  <center>
    <h1>YOUR LISTS</h1>
  </center>


  <table id ="items" style="width:100%">
    <tr>
      <th>Item Name:</th>
    </tr>
    {% for name in names %}
        <tr class=>
          <td style="text-align: center; vertical-align: middle;">{{name}}</td>
        </tr>
    {% endfor %}
    <!-- <script type="text/javascript">
      let buttons = document.querySelectorAll('.button2');
      for (let button of buttons) {
        button.addEventListener('click', function onClick(){
          let name = button.getAttribute('data_item_id');
          alert(name);
        });
      }
    </script> -->
  </table>

  <div class="center">
    <form action="/account">
        <input class="button" type="submit" value="Back">
    </form>
  </div>

  <table id ="items" style="width:100%">
    <tr>
      <th>Item Name:</th>
    </tr>
    {% for item in items %}
        <tr class=>
          <td style="text-align: center; vertical-align: middle;">{{item.item_name}}</td>
        </tr>
    {% endfor %}
  </table>

  <br />
  <h2>

  </h2>
  <footer>
    <p>LISTener</p>
  </footer>
</div>


</body>


</html>
