<html>
<head>
  <link rel="stylesheet" href="../css/lists.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link rel="icon" type="image/jpg" href="/LISTener_images/LISTenerLogo.jpg">
  <title>LISTener</title>
</head>
<body>

  {% include "htmls/header.html" %}

<div class="content">


  <center>
    <h1>YOUR SHOPPING LIST</h1>
  </center>


  <table style=width:40%; align=center>
    <tr>
      <th>Item Name:</th>
    </tr>
    {% for name in names %}
        <tr class=>
          <td style="text-align: center; vertical-align: middle;">{{name}}</td>
        </tr>
    {% endfor %}
    <!-- <script type="text/javascript">
      let buttons = document.querySelectorAll('.button2');
      for (let button of buttons) {
        button.addEventListener('click', function onClick(){
          let name = button.getAttribute('data_item_id');
          alert(name);
        });
      }
    </script> -->
  </table>

  <div class="center">
    <form action="/account">
        <input class="list_button" type="submit" value="Back">
    </form>
  </div>



  <br />
  <h2>

  </h2>
  <footer>
    <p>LISTener</p>
  </footer>
</div>


</body>


</html>
