<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text" rel="stylesheet">
  <link rel="stylesheet" href="../css/lists.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <link rel="icon" type="image/jpg" href="/LISTener_images/LISTenerLogo.jpg">

  <title>LISTener</title>
</head>
<body>

  {% include "htmls/header.html" %}

<div class="content">


  <center>
    <h1>YOUR LISTS</h1>



  </center>
  <div class="center">
    <!-- <center> -->
      <select class="dropdown">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    <!-- </center> -->

  </div>
  <div class="center">
    <form action="/account">
        <input class="button" type="submit" value="Back">
    </form>
  </div>

  <table id ="items" style="width:100%">
    <tr>
      <th>Item Name:</th>
    </tr>
    {% for item in items %}
        <tr class=>
          <td style="text-align: center; vertical-align: middle;">{{item.item_name}}</td>
        </tr>
    {% endfor %}
  </table>

  <br />
  <h2>

  </h2>
  <footer>
    <p>LISTener</p>
  </footer>
</div>


</body>


</html>
